@import url(reset.css);

html{font-size: 67.5%;}

body{
    background-image: url(img/BG1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.theLine{
    display: block;
    background-color: #999;;
    height: 2px;
    width: 900px;
    margin: 70px auto 20px;
}

.theLineS{
    display: none;
    background-color: #999;;
    height: 1px;
    width: 250px;
    margin: 50px auto 5px;
}

.topbar{
    z-index: 100;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    background-image: linear-gradient(black 0%, black 20%, transparent);
    left: 0;
    top: 0;

    /* border: 2px solid red; */
}

@keyframes an1{
    0%{
        top:-100px;
        opacity:0;
    }
    100%{
        top:0px;
        opacity:1;
    }
}

.topbar img{
    height: 50px;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
    position: absolute;
    top: 0;
    animation: an1 .8s 1 forwards;
}

.topbar ul{
    display: flex;
    padding-right: 40px;
    float: right;
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    animation: an1 .8s 1 forwards;
}

.topbar li{
    display: block;
    width: 0;
    float: left;
    line-height: 80px;
    flex-grow: 1;
    text-align: center;

    /* border: 1px solid red; */
}

.topbar a{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

.topbar li::before{
    content: '';
    display: block;
    background-color: white;
    height: 40px;
    width: 1px;
    float: left;
    margin-top: 20px;
}

.topbar li::after{
    content: '';
    display: block;
    background-color: white;
    height: 40px;
    width: 1px;
    float: right;
    margin-top: 20px;
    display: none;
}

.topbar li:last-child::after{display: block;}

.topbar a:hover{
    text-decoration: underline 2px;
}

@keyframes an2{
    0%{
        opacity: 0;
        transform: scale(0);
        filter: blur(5px);
    }
    100%{
        opacity: 1;
        transform: scale(1);
        filter: blur(0px);
    }
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 380px;
    height: 380px;
    border-radius: 50%;
    margin: 0 auto;    
    margin-top: 100px;
    opacity: 0;
    animation: an2 .8s .4s 1 forwards;
}

.logo img{
    height: 250px;
}

.info{
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    border-radius: 20px;
    opacity: 0;
    animation: an2 .8s .8s 1 forwards;
}

.info p{
    font-size: 1.8rem;
    padding: 0 40px;
    line-height: 1.6;
    opacity: 0;
    animation: an2 .8s .8s 1 forwards;
}

.info .infoicon{
    height: 50px;
    margin-left: 30px;
}

.face{
    height: 350px;
    display: block;    
    border-radius: 20px 0 0 20px;
}

.detail{
    margin: 100px auto;
    padding-bottom: 80px;
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    opacity: 0;
}

.detail h2{
    padding-top: 70px;
    font-size: 4rem;
    text-align: center;
    opacity: 0;
}

.detail .belink{
    width: 110px;
    font-size: 3rem;
    margin: 30px auto 0;
}

.detail p{
    padding: 40px 80px 0;
    font-size: 1.8rem;
    line-height: 1.6;
    opacity: 0;
}

.detail .fa-solid{
    width: 180px;
    height: 180px;
    border-radius: 30%;
    background-color: #e5e5e5;
    color: cornflowerblue;
    font-size: 90px;
    text-align: center;
    line-height: 180px;
    opacity: 0;
}

.detail ul{
    display: flex;
    margin-top: 50px;
}

.detail li{
    text-align: center;
    border-right: solid 2px #999;
}

.detail .hbtli{
    width: 330px;
}

.detail li:last-child{border-right: 0;}

.detail li p{
    font-size: 1.6rem;
    padding: 30px 60px 10px;
}

.detail h3{
    font-size: 4rem;
    text-align: center;
    margin: 50px 0 30px;
    opacity: 0;
}


.social{
    display: flex;
    padding-bottom: 60px;
    justify-content: center;
    opacity: 0;
}

.social2{
    margin-bottom: 30px;
}

.social div{
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    width: 450px;
    height: 80px;
    margin: 0 40px;
    align-items: center;
    border-radius: 30px;
}

.social i{
    font-size: 55px;
    margin-left: 20px;
}

.social a{
    color: #000;
}


.social i:hover{color: cornflowerblue;}

.social p{
    font-size: 2rem;
    margin-left: 15px;
}

.toTop{
    display: none;
}

.toTop img{
    width: 40px;
    position: fixed;
    right: 14rem;
    bottom: 3rem;
}

.fbx{
    width: 700px;
    margin: 0 auto;
    opacity: 0;
    /* border: 2px solid #999; */
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
}

.fbx li{
    
    filter: grayscale(1);
    padding: 0 20px 20px;
    border: 0;
}

.fbx li:hover{
    filter: grayscale(0);
}

.fbx img{
    height: 150px;
}


@media screen and (max-width:430px) {
    html{font-size: 50%;}

    body{
        background-image: url(img/BG\ small.png);
        background-size: cover;
    }

    .theLine{display: none;}
    .theLineS{display: block;}

    .topbar{
        height: 40px;
    }

    .topbar img{
        height: 30px;
        margin-top: 5px;
        margin-left: 10px;
    }

    .topbar ul{
        padding-right: 15px;
        width: 270px;
    }
    
    .topbar li{
        line-height: 35px;
    }

    .topbar a{
        font-size: 1.6rem;
        padding: 0 7px;
    }

    .topbar li::before{
        height: 15px;
        margin-top: 10px;
    }
    
    .topbar li::after{
        height: 15px;
        margin-top: 10px;
    }

    .logo{
        width: 250px;
        height: 250px;
        margin-top: 60px;
    }
    
    .logo img{
        height: 170px;
    }

    .info{
        width: 81vw;
        margin-top: 20px;
        border-radius: 10px;
        flex-direction: column;
    }
    
    .info p{
        font-size: 1.8rem;
        padding: 25px 35px;
        line-height: 1.5;
    }

    .info .infoicon{
    height: 29px;
    margin-left: 5px;
    }
    
    .face{
        height: 200px;
        border-radius: 20px;
    }
    
    .detail{
        margin: 30px auto;
        width: 81vw;
        border-radius: 10px;
        padding-bottom: 40px;
    }

    .detail .belink{
        width: 85px;
        font-size: 3rem;
        margin: 15px auto 0;
    }
    
    .detail h2{
        padding-top: 30px;
    }
    
    .detail p{
        padding: 30px 35px 10px;
        font-size: 1.8rem;
        line-height: 1.3;
    }

    .theLineS{
        margin-top: 20px;
    }
    
    .detail .fa-solid{
        width: 110px;
        height: 110px;
        border-radius: 20%;
        font-size: 60px;
        line-height: 110px;
        margin-top: 15px;
    }

    .detail ul{
        margin-top: 20px;
    }

    .detail .hbtul{
        flex-direction: column;
    }

    .detail .hbtli{
        width: auto;
    }
    
    .detail .hbtp{
        padding: 20px 50px 10px;
    }

    .detail li{
        border: 0;
    }
    
    .detail li:last-child{}
    
    .detail li p{}
    
    .detail h3{
        margin: 20px 0 10px;
    }
    
    .social{
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }

    .social2{
        padding-bottom: 15px;
        margin-bottom: 0;
    }
    
    .social div{
        width: 60vw;
        height: 40px;
        margin-bottom: 20px;
        border-radius: 15px;
    }
    
    .social i{
        font-size: 25px;
        margin-left: 10px;
    }
    
    .social p{
        margin-left: 15px;
        font-size: 1.8rem;
    }

    .toTop img{
        width: 5vw;
        right: 1.7rem;
        bottom: 5rem;
    }
    
    .fbx{
        width: 300px;
    }
    
    .fbx li{
        padding: 0 5px 5px;
    }

    .fbx img{
        height: 70px;
    }
    
    
}